
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 100%;
}

.title div {
    padding: 12px;
    border-radius: 17px;

    background-color: red;
    color: white;

    display: inline-block;
}

.createButton {
    padding: 10px 20px;
}

.verticalFlex {
    display: flex;
    gap: 30px;
    align-items: center;
}
.horizontalFlex {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

.fullWidth {
    width: 100%;
}

.form input[type=text] {
    padding: 5px;
    border-radius: 7px;

    font-size: medium;
}
.roomList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 10px;

    max-width: 500px;

    text-align: center;
    color: white;
}
.roomList .roomListItem {
    width: 155px;
    padding: 15px 7px;
    border-radius: 17px;
    background-color: rgb(44, 158, 56);
}

.table {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 1200px;
}
.player {
    position: relative;
    display: block;
    overflow: hidden;
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    background-color: antiquewhite;
    text-align: center;
    box-sizing: border-box;
}
.points {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    border-radius: 17px 0 5px 0;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-left: 1px solid black;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.6);
}
.player h4 span {
    color: red;
}

.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: calc(167pt / 2.5 * 2 + 10px);
    justify-content: space-around;
    margin: auto;
}
.card {
    position: relative;
    border-radius: 4px;
    height: calc(242pt / 2.5);
    width: calc(167pt / 2.5);
    overflow: hidden;
    background-color: white;
    box-shadow: 1px 1px 2px black;
}
.card div {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.playerTable {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 10px;
    width: 650px;
}

table, td, th {
    border: 1px solid;
    border-collapse: collapse;
}

td, th {
    padding: 5px 10px;
}

.tableDiv {
    background-color: antiquewhite;
    max-width: 100vw;
    overflow-x: auto;
}

.valueChanger {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.valueChanger > div {
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 17px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.openHand {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;

    background-color: dodgerblue;
    box-shadow: 2px 2px 3px lightgray;
    font-size: 3em;
}
.openHand span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.openHand div {
    background-color: red;
    position: absolute;
    top: -5px;
    right: 3px;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
}

.close {
    font-size: 1.5em;
    color: burlywood;
    text-align: right;
}

hr {
    width: 90%
}

@media screen and (max-width: 650px) {
    .playerTable {
        width: 320px;
    }
}